---
layout: layouts/base.njk
pagination:
  data: collections.kindList
  size: 1
  alias: kind
permalink: "kinds/{{ kind }}/index.html"
---
{% set items = targets | selectattr("kind", "equalto", kind) %}
<h2>Kind: {{ kind }}</h2>
{% include "layouts/list.njk" %}
